{% set navbar = [ 
    ('/', 'Home'),
    ('/media', 'Media'),
    ('/projects', 'Projects'),
    ('/about', 'About') ]
    -%}
<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" />
    <title>{% block title %}{% endblock %} - setti.net </title>
    {% endblock %}
</head>
<body>
    <div class="topbar">
        <div class="menu">
            <ul>
                {%-for href, id in navbar -%}
                    <li ><a href="{{ href }}" style="color:white;text-decoration:none">{{ id }}</a></li>
                {%- endfor -%}
            </ul>
        </div>    
    </div>
    <div class="content">
    {% block content %} {%endblock%}
    </div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2020 by <a href="https://kedarisetti.gihub.io/">Dharanish</a>.
        {% endblock %}
    </div>
</body>
</html>